// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;
$color--light-gray: #f3f3f3;
$color--gray: gray;
$color--blue: #1976d2;
$color--light-green: #c3e3bc;
$color--light-red: #c4a1a1;


// Ширина эрана при которой надо рисовать как телефон или планшет
$break-point: 1000px;
